PORT=5000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?pgbouncer=true&connection_limit=5"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DB"
JWT_SECRET="your_jwt_secret_here"
FRONTEND_URL="http://localhost:5173"

CLOUDFLARE_WORKER="false"

# Supabase Storage Integration
SUPABASE_URL="https://nywhmmjzzezrikacwtdp.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55d2htbWp6emV6cmlrYWN3dGRwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzE2MDkzMywiZXhwIjoyMTAyNzM2OTMzfQ.CIHp8P-HVlgLtxV09A0FvWovCzL1Q4bLHNQGIUguatI"
